/* Portfolio Section Styles */
#technical-projects {
    padding: 50px 20px;
    background-color: #235789;
    color: #000100;
    text-align: center;
}

.masonry-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Flexibility for different screen sizes */
    grid-auto-rows: minmax(200px, auto); /* Allow varying heights for grid items */
    gap: 20px; /* Space between items */
}

.scroll-item {
    background-color: #E5FFDE;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.scroll-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.scroll-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: contain;
    margin-bottom: 15px;
}

/* Portfolio Section Link Styling */
.scroll-link {
    color: #9DACFF; /* Change this to your desired color */
    text-decoration: none; /* Optional: removes underline */
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth color transition */
}

.scroll-link:hover {
    color: #FFC300; /* Change this to the color on hover */
}